[Unit]
Description=Cobudget API service
After=network.target postgresql.service

[Service]
Type=simple
WorkingDirectory=/opt/cobudget-api/current
EnvironmentFile=/opt/cobudget-api/current/env-vars
ExecStart=/usr/local/lib/ruby-2.4.0/bin/rails s
Restart=always

[Install]
WantedBy=multi-user.target
